#使能方法。
#static：静态网络配置。
#dhcp：动态网络配置。
#resolv：DNS服务器地址配置。
--enable
static

#网卡名称。
--ifname
eth1

#IPV4地址，掩码前缀长度，网关，跃点
#注1：多个连续的分割符视为同一个。
#注2：网关和跃点为可选项。如果指定跃点则网关必须存在，否则两者都应当省略。
#注3：如果存在多个网关，则必须指定不同的跃点。
#注4：第一个网关，将被指定为默认网关。
--address4
192.168.1.150,24,192.168.1.1,0
172.16.1.150,16,172.16.1.1,100

#IPV6地址，掩码前缀长度，网关，跃点
--address6
fe80::6e2b:59ff:feec:9447,64,fe80::6e2b:59ff:feec:9447::0001,0






